# Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
db.sqlite3
db.sqlite3-journal

# Entornos virtuales
venv/
.venv/
env/
.env

# Archivos de medios y estáticos cargados por el usuario
media/
static/staticfiles/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuraciones de editores de código e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Docker
.docker-clean
